@import 'variables';
img{
	float:left;
	width:60px;
	height:60px;
}
h2{
	float: left;
}




body {
  background: $light-grey;
  // background-image: url(../assets/orangecat.jpg);
}
nav{
	height: 4em;
}